let maplocalleader = ","
let mapleader = ","
"按Ctrl+l 向右移动一个buffer
inoremap <Up> <Nop>
inoremap <Down> <Nop>
inoremap <Left> <Nop>
inoremap <Right> <Nop>

nnoremap <Up> <Nop>
nnoremap <Down> <Nop>
nnoremap <Right> <Nop>
nnoremap <Left> <Nop>

inoremap <Esc> <Nop>
inoremap jj <Esc>

nnoremap <silent> <LocalLeader>bn :bn<CR>
"按Ctrl+^ 关闭当前buffer
nnoremap <silent> <LocalLeader>bp :bp<CR>
" od: open file directory tree
nmap od :CocCommand explorer<CR>
" ot: open tag
nmap ot :TagbarToggle<CR>

let g:NERDSpaceDelims = 1

inoremap <leader>w <Esc>:w<cr>
nnoremap <leader>w :w<cr>  

" use ctrl+h/j/k/l switch window
noremap <C-h> <C-w>h
noremap <C-j> <C-w>j
noremap <C-k> <C-w>k
noremap <C-l> <C-w>l
" window control prefix
nnoremap  [Window]   <Nop>
nmap      s [Window]
" 使用 sv, sg 快速在 normal 模式下分割窗口
nnoremap <silent> [Window]v  :<C-u>split<CR>
nnoremap <silent> [Window]g  :<C-u>vsplit<CR>

" 使用 leader+b 快速关闭当前 buffer
noremap <leader>b :bd<cr>

set surround
set mulyiple-cursors
